header {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  border: 5px rgb(102, 101, 101) dashed;
  padding: 2%;
  background-color: black;
  color: #fff;
  margin-bottom: 22px;
}

header span {
  align-self:flex-end;
  font-size: 1.2rem;
  font-weight: 600;
}

header button {
  border-radius: 12%;
  padding: .8%;
  background-color: #fff;
  font-weight: 600;
}

.user {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
}

.user span, svg {
  align-self: center;
  margin: 5px;
}